<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "https://mvnrepository.com/artifact/com.puppycrawl.tools/checkstyle">

<module name="Checker">

    <module name="TreeWalker">

        <module name="ClassFanOutComplexity"/>
        <module name="EmptyBlock"/>
        <module name="MethodName"/>
        <module name="NeedBraces"/>
        <module name="ParameterName">
            <property name="format" value="^[a-z][_a-zA-Z0-9]+$"/>
        </module>
        <module name="UnusedImports"/>


        <!-- https://source.android.com/source/code-style.html#dont-catch-generic-exception -->
        <module name="IllegalCatch">
            <property name="illegalClassNames" value="java.lang.Exception, java.lang.Throwable"/>
        </module>

        <!-- https://source.android.com/source/code-style.html#dont-use-finalizers -->
        <module name="NoFinalizer"/>

        <!-- https://source.android.com/source/code-style.html#fully-qualify-imports -->
        <module name="AvoidStarImport">
            <property name="excludes" value="java.io,java.util,junit.framework"/>
        </module>

        <!-- https://source.android.com/source/code-style.html#use-spaces-for-indentation -->
        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="lineWrappingIndentation" value="8"/>
        </module>

        <!--https://source.android.com/source/code-style.html#follow-field-naming-conventions -->
        <!--<module name="MemberName">-->
            <!-- non-public members should start with an 'm' -->
         <!--   <property name="format" value="^m[A-Z][a-zA-Z0-9]*$"/>
            <property name="applyToPublic" value="false"></property>
            <property name="applyToProtected" value="true"></property>
            <property name="applyToPrivate" value="true"></property>
            <property name="applyToPackage" value="true"></property>
        </module>-->

        <!--https://source.android.com/source/code-style.html#follow-field-naming-conventions -->
        <module name="StaticVariableName">
            <!-- static members should start with an 's' -->
            <property name="format" value="^s[A-Z][a-zA-Z0-9]*$"/>
            <property name="applyToPublic" value="false"></property>
        </module>

        <!--https://source.android.com/source/code-style.html#follow-field-naming-conventions -->
        <!--<module name="MemberName">
             public members should not start with an 'm'
            <property name="format" value="^(?:[a-l|n-z][a-zA-Z0-9]*)$|^(?:m[a-z]+[a-zA-Z0-9]*)$"/>
            <property name="applyToPublic" value="true"></property>
            <property name="applyToProtected" value="false"></property>
            <property name="applyToPrivate" value="false"></property>
            <property name="applyToPackage" value="false"></property>
        </module> -->

        <!--https://source.android.com/source/code-style.html#follow-field-naming-conventions -->
        <module name="ConstantName"/>


    </module>

</module>